body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

.halfDiv1{
    width: 65%;
    height: 100%;
}

.halfDiv2{
    width: 35%;
    height: 100%;
    position: relative;
}

img {
   height: 99vh;
   width: 100%;
}

.overlayText {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -60%);
    color: white; /* Set the color of the text */
    font-size: 24px; /* Set the font size */
}