body{
    height: 100%;
    width: 100%;
}

.registerContent{
    height: 100%;
    width: 90%;
    margin-left: 6%;
}

form{
    height: 100%;
    width: 100%;
}

input,
select,
textarea {
  height: 4vh;
  width: 60%; /* Adjust the width as needed */
  margin-bottom: 1vh; /* Add margin for spacing between input and next label */
}

label{
    font-size: 10px;
    color: #525252;
    display: block;
    width: 30%; /* Adjust the width as needed */
}

.submitBtn {
    width: 26%;
    height: 4vh;
    background-color: #ED5353;
    border-radius: 0.5vh;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    margin-top: 3vh;
    cursor: pointer;
    margin-left: 1vw;
}

.signIn {
    border: none;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.errorText {
    color: red;
    font-size: 10px;
  }

  .grey{
    color: #525252;
  }

  .Buttons{
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }